<nav class="navbar navbar-light">
  <div class="container">

    <a class="navbar-brand"
      ui-sref="app.home"
      ng-bind="::$ctrl.appName | lowercase">
    </a>

    <ul class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.home">
          Главная
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.profile">
          Настройки
        </a>
      </li>

      <li ng-hide="$ctrl.autorised" class="nav-item sing-in">
        <a class="nav-link"
           ng-click="$ctrl.getAuth()">
          Вход
        </a>
      </li>
        <li ng-show="$ctrl.autorised" class="nav-item sing-in">
            <a ng-click="$ctrl.logOut()" class="nav-link">
                Выход
            </a>
        </li>

    </ul>


  </div>
</nav>
