<!-- ============================================================== -->
<!-- Right Sidebar -->
<div class="side-bar right-bar">
    <a ng-click="$ctrl.toggleRightBar()" class="right-bar-toggle">
        <i class="zmdi zmdi-close-circle-o"></i>
    </a>
    <h4 class="">Уведомления</h4>
    <div class="notification-list nicescroll">
        <ul class="list-group list-no-border user-list">
            <li class="list-group-item">
                <a href="index.html#" class="user-list-item">
                    <div class="avatar">
                        <img src="images/users/avatar-2.jpg" alt="">
                    </div>
                    <div class="user-desc">
                        <span class="name">Михайл</span>
                        <span class="desc">Подписка</span>
                        <span class="time">2 часа назад</span>
                    </div>
                </a>
            </li>
            <li class="list-group-item  active">
                <a href="index.html#" class="user-list-item">
                    <div class="icon bg-info">
                        <i class="zmdi zmdi-account"></i>
                    </div>
                    <div class="user-desc">
                        <span class="name">Новый заказ</span>
                        <span class="desc">Джинсы</span>
                        <span class="time">5 часов назад</span>
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="index.html#" class="user-list-item">
                    <div class="icon bg-pink">
                        <i class="zmdi zmdi-comment"></i>
                    </div>
                    <div class="user-desc">
                        <span class="name">Новый комментарий</span>
                        <span class="desc">Товар: Футболка</span>
                        <span class="time">1 день назад</span>
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="index.html#" class="user-list-item">
                    <div class="avatar">
                        <img src="images/users/avatar-3.jpg" alt="">
                    </div>
                    <div class="user-desc">
                        <span class="name">Евгения</span>
                        <span class="desc">Подписка</span>
                        <span class="time">2 дня назад</span>
                    </div>
                </a>
            </li>


        </ul>
    </div>
</div>
<!-- /Right-bar -->